* {
    margin: 0px;
}
.navbar {
    border:2px solid white;
    padding: 10px;
}
li {
    border: 2px solid white;
    width: 150px;
    list-style: none;
    font-size: 20px;
    font-family: monospace;
}
.li4 {
    margin-left: 90%;
    margin-top: -25px;
    margin-bottom: 10px;
}
.li3 {
    margin-left: 75%;
    margin-top: -25px;

}
.li2 {
    margin-left: 60%;
    margin-top: -25px;
}
.li1 {
    margin-top: 5px;

}
.bgimage {
    height: 800px;
    border: 2px solid white;
    background-image: url("./architect.jpg");
    background-repeat: no-repeat;
}
h4 {
    font-family: monospace;
    font-size: 20px;
    margin-left: 15px;
}
img {
    height: 200px;
    width: 300px;
    padding: 5px;
}
section {
    margin-left: 15px;
}
.para1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 15px;
}
.para2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#s2 {
    margin-left: 320px;
    margin-top: -160px;
}
#s3 {
    margin-left: 640px;
    margin-top: -160px;
}
#s4 {
    margin-left: 960px;
    margin-top: -160px;
}
.b {
    border: 2px solid rgb(209, 207, 207);
    background-color: rgb(209,207,207);
    width: 280px;
    height: 40px;
}
.footerimg {
    height: 800px;
    border: 2px solid white;
    background-image: url("./footerimg.jpg");
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
}
.contact {
    height: 40px;
    width: 1200px;
    border: 2px solid lightgrey;
}
.s5 {
    margin-left: 15px;
}
.b2 {
    height: 40px;
    width: 200px;
    border: 2px solid black;
    background-color: black;
    color: white;
}